<div class="container">

  <form>
    <label class="radio-inline">
      <input type="radio" ng-model="opt" value="great" ng-change="change()">Great
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="opt" value="ultra" ng-change="change()">Ultra
    </label>
     <label class="radio-inline">
      <input type="radio" ng-model="opt" value="master" ng-change="change()">Master
    </label>
    <tt>opt = {{opt}}</tt><br/>
    <button ng-click="build()" class="button button-primary">Build</button><br> 
  </form>
   
   <table>
   <tr ng-repeat="sel in team track by $index">
        <td> {{sel.name}} </td> 
        <td> {{sel.fast}}  </td>
        <td> {{sel.charge}}</td>
        <td> {{sel.charge2}} <td>
   </tr>
   </table>

   <table>
   <tr ng-repeat="sel in notes_table track by $index">
        <td> {{sel.name}} </td> 
        <td> {{sel.fast}} {{sel.energy}} </td>
        <td> {{sel.charge}} {{sel.count}} </td>
        <td> {{sel.charge2}} {{sel.count2}}<td>
   </tr>
  </table> </br>

   <table>
   <tr ng-repeat="sel in notes track by $index">
        <td> {{sel.name}} </td> 
        <td> {{sel.fast}}  </td>
        <td> {{sel.charge}}</td>
        <td> {{sel.charge2}} <td>
   </tr>
   </table>
</div>


 <div class="form-group" >
            <label for="checkFast">Fast Move</label>
             <input ng-model="move_fast"> 
             <button ng-click="checkFast()" class="button button-primary">Check</button><br> 
             <button ng-click="getFasts()" class="button button-primary">Get All</button><br> 

          <tt>fast={{move_fast}}  energy={{f_energy}} turns = {{f_turn}}</tt><br/>

  </div>


 <div class="form-group" >
            <label for="checkCharge">Charge Move</label>
             <input ng-model="move_charge"> 
             <button ng-click="checkCharge()" class="button button-primary">Check</button><br> 
             <button ng-click="getCharges()" class="button button-primary">Get All</button><br> 

          <tt>charge={{move_charge}}  energy={{c_energy}} </tt><br/>

  </div>

 <div class="form-group" >
            <label for="checkPokemon">Pokemon</label>
             <input ng-model="pokemon"> 
             <button ng-click="checkPokemon()" class="button button-primary">Check</button><br> 
             <button ng-click="getPokemon()" class="button button-primary">Get All</button><br> 

          <tt>pokemon={{pokemon}}  fast={{p_fast}} charge={{p_charge}} charge2={{p_charge2}} 
             count={{p_charge_count}} count2={{p_charge2_count}}  </tt><br/>

  </div>




   <form>
      <div class="row">
        <div class="col-md-12">
           <input type="file" ng-file-select="onFileSelect($files)" class="form-control-file border">
        </div>
      </div>
   </form>
   <br />
   
<!--
   <b>Statistics:</b><br />

    <table class="table table-striped">
     <tr>
        <th>Name</th>
        <th>Counts </th>
     </tr>
     <tr> 
        <td>Total Symbols </td>
        <td>{{totalSymbols}}</td>
     </tr>
     <tr> 
        <td>Total Sequences </td>
        <td>{{totalLHs}}</td>
     </tr>
    </table>
   
   <b>Preview:</b> 
   <input ng-model="visible" type="checkbox"/>
   <br />
   <i ng-hide="textSrc">No text file choosed</i>
   <pre ng-show="visible">{{textSrc}}</pre>
   
   <br/> 
   <b>Progress:</b>
  <progress value="{{progress}}"></progress>
</div>
-->
